*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #2ca836;
    background-color: rgb(83, 237, 83);
}

.header {
    background: #333;
    color: #aeee89;
    padding: 1rem 0;
    text-align: center;
}

.header h1 {
    margin-bottom: 0.5rem;
}

.navbar ul {
    list-style: none;
}

.navbar ul li {
    display: inline;
    margin: 0 10px;
}

.navbar a {
    color: #9bf186;
    text-decoration: none;
}

.section {
    padding: 2rem;
    margin: 0 auto;
    max-width: 800px;
    background: green;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.section h2 {
    margin-bottom: 1rem;
}

.section-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.footer {
    text-align: center;
    padding: 1rem;
    background: green;
    color: #0e7d3e;
}
